.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  
}
.nav-menu {
  display: flex;
}
.nav-menu li {
  padding: 0 1rem;
}
.nav-menu li a {
  font-weight: 600;
  font-size: 1.2rem;
}
.hamburger {
  display: none;
}

@media screen and (max-width: 1040px) {
  .nav-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(13, 13, 14);
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -3;
    transition: 0.37s;
  }
   
  .nav-menu.active{
    left: 0;
  }

  .nav-menu li {
    padding: 1rem 0;
  }
  .nav-menu li a {
    font-size: 2.3rem;
  }
  .hamburger {
    display: initial;
  }
}
