.pricing{
    width: 100%;
    padding: 6rem 1rem;
    background-color: black;
}
.card-container{
    max-width: 1140;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-gap: 40px;
}
@media screen  and (max-width: 740px){
    .card-container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    
    }
}
.btc{
    font-size: 4rem;
    font-weight: 600;
    padding: 1rem 0; 
}
 .card .btn{
    display: block;
    width: 80%;
    margin:2rem auto;
}
.card h3{
   font-size: 1.4rem; 
   padding: 1rem;
}
.bar{
    border-bottom: 1px solid white;
    width: 13%;
    margin: 1.5rem auto;
    display: block;
}
.card p{
    
    padding: 10px 0;
 }
.card{
    border: 1px solid whitesmoke;
    color: whitesmoke;
    text-align: center;
    padding: 1rem;
}
.card:hover{
    background-color: grey;
}